body {
  background: url("img/background-image.jpg") no-repeat;
  background-size: 100%;
  background-color: #E0FFFF;
}
.header-top {
  height: 130px;
  background-color: #90EE90;
  margin bottom: 50px;
}
.logo {
  float: right;
  position: absolute;
  right:100px;
  top: 74px;
}
.logo img {
  width: 152px;
  height:97px;
}
h1{
  font-size: 82px;
  font-family: Arial sans-serif;
  font-style: italic;
  color: 	#FF4500;
  position: relative;
  left: 200px;
  right: 200px;
  top: 20px;
}
.main-block{
  height: 200px;
  width: 500px;
  background-color: 	#F0E68C;
}
h2{
  font-size: 28px;
  font-family: Arial sans-serif;
  font-style: italic;
  color: 	black;
  margin-left: 50px;
}
form{
  display: block;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color:grey;
  margin-left: 50px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th{
  display: table-cell;
  vertical-align: inherit;
}
label {
    cursor: default;
}
input {
    background-color: white;
    cursor: auto;
    padding: 2px;
    border-width: 2px;
  }
  .send-btn{
    height: 30px;
    width: 30px;
    background-color:#E0FFFF;
  }


#top{
  width: 450px;
  height: 281px;
  background: url("img/top.png") no-repeat;
}
.ref-mid{
  /*display: none;*/
  width: 450px;
  height: 60px;
  background: url("img/middle.png") no-repeat;
}

#bottom{
  width: 450px;
  height: 95px;
  background: url("img/bottom.png") no-repeat;
}

#result-block, #receiver {
  background-color: #F0E68C;
}
.main-footer {
height: 130px;
background-color: #90EE90
}
