body {
  background: url("img/background-image.jpg") no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-color: #E0FFFF;
}
.header-top {
  height: 130px;
  background-color: #90EE90;
  margin bottom: 50px;
  position: relative;
}
.logo {
  float: right;
  position: relative;
  right:100px;
  top: 20px;
}
.logo img {
  width: 152px;
  height:97px;
}
h1{
  font-size: 82px;
  font-family: Arial sans-serif;
  font-style: italic;
  color: 	#FF4500;
  position: relative;
  left: 200px;
  right: 200px;
  top: 20px;
}
.main-block{
  height: 210px;
  width: 500px;
  background-color: 	#F0E68C;
  position: relative;
  left: 240px;
}
p.instruction{
  font-size: 28px;
  font-family: Arial sans-serif;
  font-style: italic;
  color: 	black;
  text-align: center;
  padding-top:15px;
  margin-left:10px;
  margin-right: 10px;
}
form{
  display: block;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color:grey;
  margin-left: 100px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th{
  display: table-cell;
  vertical-align: inherit;
}
.title{
  font-size: 18px;
  font-family: Arial sans-serif;
  font-style: italic;
  color: 	black;

}
label {
    cursor: default;
}
input {
    background-color: white;
    cursor: auto;
    padding: 2px;
    border-width: 2px;
  }
  .send-btn{
    height: 30px;
    width: 30px;
    background-color: inherit;
    position:relative;
    left: 265px;
    top: -31px;
  }

.refrigerator{
  position:absolute;
  left: 800px;
  top: 215px;
  z-index: 1;
}
.ingredient {
  color: #E0FFFF;
  padding-bottom: 35px;
  position: relative;
  left: 175px;
  top: 170px;
  z-index: 2;
}
.delete-btn{
height: 20px;
width: 20px;
background-color: inherit;
position: relative;
left: 10px;
top: 8px;
}
#top{
  width: 450px;
  height: 281px;
  background: url("img/top.png") no-repeat;
}
.ref-mid{
  /*display: none;*/
  width: 450px;
  height: 60px;
  background: url("img/middle.png") no-repeat;
}
.ref-mid .ingredient{
  position: relative;
  left:175px;
  top: 10px;
  padding-bottom: 45px;
}
.ref-mid .delete-btn {
  position: relative;
  left: 10px;
  top: 8px;
}

#bottom{
  width: 450px;
  height: 95px;
  background: url("img/bottom.png") no-repeat;
}
#bottom .ingredient{
  position: relative;
  left:175px;
  top: 10px;
  padding-bottom: 45px;
}
#bottom .delete-btn{
  position: relative;
  left: 3px;
  top: 8px;
}
#result-block, #receiver {
  height: 565px;
  width: 780px;
  position: relative;
  left: 100px;
  top: 45px;
  background-color: #F0E68C;
}
.main-footer {
height: 80px;
background-color: #90EE90;
margin-bottom: 50px;
position: relative;
top: 100px;
}
.copyright{
  text-align: center;
  font-size: 18px;
  font-family: Arial sans-serif;
  font-weight: bold;
  font-style: italic;
  color: 	black;
  padding-top: 30px;
}
